@import 'tailwindcss';

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--background: #ffffff;
	--foreground: #0b192dcc;
	--lemon: #c8d72c;
	--blue: #1b3864;
	--white-80: #ffffffcc;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-lemon: var(--lemon);
	--color-blue: var(--blue);
	--color-white-80: var(--white-80);
	--font-inter: var(--font-inter);
	--font-outfit: var(--font-outfit);
	--font-chronicle-display: var(--font-chronicle-display);
	--breakpoint-des: 75rem;
	--spacing-gutter: max(5rem, 20px);
	--text-base: max(1rem, 14px);
	--text-20: max(1.25rem, 14px);
	--text-14: max(0.875rem, 14px);
	--text-18: max(1.125rem, 14px);
	--text-20: max(1.25rem, 14px);
	--text-24: max(1.5rem, 14px);
	--text-28: max(1.75rem, 18px);
	--text-32: max(2rem, 16px);
	--text-40: max(2.5rem, 20px);
	--text-48: max(3rem, 20px);
	--text-56: max(3.5rem, 24px);
	--text-60: max(3.75rem, 26px);
	--text-64: max(4rem, 28px);
}

html {
	font-size: calc(100vw / 1440 * 15);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1;
}

main {
	flex-grow: 1;
}

button {
	font-family: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**Extras*/
button,
[role='button'] {
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
}

.track {
	will-change: transform;
	animation: marquee 40s linear infinite;
}

.hide-scroll {
	scrollbar-width: none;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

.embla__container {
	display: flex;
	touch-action: pan-y pinch-zoom;
}

.embla__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 35%;

	@media screen and (max-width: 1025px) {
		flex: 0 0 50%;
	}

	@media screen and (max-width: 600px) {
		flex: 0 0 100%;
	}
}
