@import 'tailwindcss';

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--background: #ffffff;
	--foreground: #0b192dcc;
	--lemon: #c8d72c;
	--blue: #1b3864;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-inter: var(--font-inter);
	--font-outfit: var(--font-outfit);
	--breakpoint-des: 75rem;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-weight: 400;
	line-height: 1;
}

main {
	flex-grow: 1;
}

button {
	font-family: inherit;
}

input {
	font-family: inherit;
}

textarea {
	resize: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**Extras*/
button,
[role='button'] {
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
}
